div.Profile {
  flex-direction: column;
}

div.Profile * {
  text-align: left;
}

div.Profile h1 {
  font-size: 32px;
}

div.Profile h3 {
  font-size: 16px;
  text-align: start;
}

div.Profile h4 {
  font-size: 20px;
  line-height: 0px;

  a {
    font-size: 20px
  }
}
